/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  0. Plugin libs
  1. Main Template Settings
      1.1. Base Settings
  2. Header Menu
      2.1 Search Box
  3. Hero
  4. Info Box
  5. Posts Styles
  6. Post Page Styles
  7. Scroll Top Styles
  8. Pagination Styles
  9. Footer Styles
  10. Page Styles
  11. Page Tags Styles
  12. Page Contact Styles

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* 0. ========== Plugin libs ========== */

/*
  Syntax Highlighting
*/

.highlight {
  background: #f7f7f7;
}

.highlighter-rouge .highlight {
  background: #eef;
}

.highlight .c {
  color: #998;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .k {
  font-weight: bold;
}

.highlight .o {
  font-weight: bold;
}

.highlight .cm {
  color: #998;
  font-style: italic;
}

.highlight .cp {
  color: #999;
  font-weight: bold;
}

.highlight .c1 {
  color: #998;
  font-style: italic;
}

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: #000;
  background-color: #fdd;
}

.highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #a00;
}

.highlight .gh {
  color: #999;
}

.highlight .gi {
  color: #000;
  background-color: #dfd;
}

.highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #a00;
}

.highlight .kc {
  font-weight: bold;
}

.highlight .kd {
  font-weight: bold;
}

.highlight .kp {
  font-weight: bold;
}

.highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #458;
  font-weight: bold;
}

.highlight .m {
  color: #099;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #458;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #900;
  font-weight: bold;
}

.highlight .nf {
  color: #900;
  font-weight: bold;
}

.highlight .nn {
  color: #555;
}

.highlight .nt {
  color: #000080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  font-weight: bold;
}

.highlight .w {
  color: #bbb;
}

.highlight .mf {
  color: #099;
}

.highlight .mh {
  color: #099;
}

.highlight .mi {
  color: #099;
}

.highlight .mo {
  color: #099;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #999;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .il {
  color: #099;
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

/* 1. ========== Main Template Settings ========== */

/* 1.1. ========== Base Settings ========== */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.body-post {
  background-color: #ffffff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 30px;
  color: #000000;
}

p {
  font-family: 'PT Serif', serif;
  line-height: 1.58;
  margin: 0 0 30px;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

li {
  margin: 0 0 15px;
}

blockquote {
  border-left: 3px solid #bbc3cb;
  padding: 10px 0 10px 30px;
  margin: 20px 0;
  font-size: 18px;
  font-style: italic;
  background: rgba(220, 235, 245, 0.2);
}

blockquote:last-child {
  margin-bottom: 0;
}

blockquote p {
  margin: 0;
}

pre {
  overflow: auto;
  padding: 25px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

figure {
  margin: 0;
}

hr {
  display: block;
  margin: 60px 0;
  text-align: center;
  font-size: 50px;
  line-height: 0;
  letter-spacing: 10px;
  border: 0;
}

hr:before {
  content: "...";
  display: inline-block;
  position: relative;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  top: -15px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

table {
  font-size: 12px;
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}

table th {
  font-size: 16px;
  color: #ffffff;
  background-color: #6cd0ef;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: left;
}

table tr {
  background-color: #d4e3e5;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

table td {
  font-size: 14px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
}

table tr:hover {
  background-color: #ffffff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.7);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.overlay.show {
  pointer-events: auto;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.full-page-container {
  min-height: 100vh;
  position: relative;
  right: 0;
  -webkit-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
  -o-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
  transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
}

.full-page-container.open {
  right: 250px;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 1440px;
  max-width: 100%;
  margin: 80px auto 80px;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.wrapper-content {
  position: relative;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0078d9;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  color: #0078d9;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #0078d9;
  color: #ffffff;
}

.btn-middle {
  width: 100%;
  max-width: 350px;
}

.btn-big {
  width: 100%;
  display: block;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  background: rgba(0, 120, 217, 0.7);
  color: #ffffff;
}

::selection {
  background: rgba(0, 120, 217, 0.7);
  color: #ffffff;
}

/* 2. ========== Header Menu ========== */

.site-header {
  height: 60px;
  position: relative;
  background-color: #0078d9;
  overflow: hidden;
}

.site-logo {
  float: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
}

.site-logo a {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

.navigation-wrap {
  height: 60px;
  position: relative;
}

.site-nav {
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-nav a {
  position: relative;
  font-size: 12px;
  padding: 22px 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.8px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.site-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.site-nav.open {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-toggle,
.nav-toggle-close {
  display: none;
  font-size: 15px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 10;
}

.nav-toggle:hover,
.nav-toggle-close:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav-toggle {
  top: 50%;
  right: 45px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.nav-toggle-close {
  right: 20px;
  top: 16px;
  color: #000000;
}

/* 2.1 ========== Search Box ========== */

.search-box {
  width: 100%;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-box.show {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.search-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 10;
}

.search-toggle:hover {
  color: rgba(255, 255, 255, 0.7);
}

.search-form input[type="text"] {
  font-size: 14px;
  color: #ffffff;
  background-color: #0078d9;
  border: none;
}

.search-form ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form ::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form :-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form ::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form ::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form :-ms-input-placeholder {
  color: #ffffff;
}

.search-form ::-ms-input-placeholder {
  color: #ffffff;
}

.search-field {
  height: 60px;
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.btn-close {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #005ca6;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #004e8d;
}

.search-results-list {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 40px 15px;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  text-align: center;
  list-style: none;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.97);
}

.search-results-list li {
  margin-bottom: 20px;
}

.search-results-list li a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #2d2d2d;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-results-list li a:hover {
  text-decoration: underline;
}

/* 3. ========== Hero ========== */

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(220, 235, 245, 0.2) !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.hero::before {
  content: "";
  display: block;
  padding-top: 10%;
}

.hero-content {
  max-width: 1200px;
  padding: 0 20px;
  text-align: justify;
}

.hero-content .hero-title {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.3;
  color: rgba(0, 120, 217, 0.6);
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

.hero-content .hero-description {
  margin-top: 15px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.7;
  color: #212121;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

/* 4. ========== Info Box ========== */

.info-box {
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;
  padding: 0 0 60px;
}

.info-social {
  width: 50%;
  float: left;
}

.info-social-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-social-list li {
  padding: 0;
  margin: 0;
}

.info-social-list li a {
  width: 20%;
  float: left;
  text-align: center;
  line-height: 60px;
}

.info-social-list li a:hover {
  background-color: rgba(206, 230, 255, 0.5);
}

.info-social-list li a,
.info-social-list li span {
  font-size: 21px;
  color: #000000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info-social-list li a:hover,
.info-social-list li span:hover {
  color: #0078d9;
}

.info-social-list li span {
  cursor: pointer;
}

.info-newsletter {
  width: 50%;
  float: right;
}

.newsletter {
  margin: 0 auto;
  border: none;
}

.newsletter-form input[type="email"] {
  color: #787878;
}

.newsletter-form .c-newsletter-form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-newsletter-email {
  width: 70%;
  height: 60px;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid rgba(120, 120, 120, 0.19);
  outline: none;
}

.newsletter-button {
  display: inline-block;
  width: 30%;
  height: 60px;
  font-size: 14px;
  padding: 20px 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #0078d9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.newsletter-button:hover {
  background-color: #004e8d;
}

/* 5. ========== Posts Styles ========== */

.posts {
  width: 100%;
  width: -webkit-calc(100% / 12 * 4 - 30px);
  width: calc(100% / 12 * 4 - 30px);
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.5rem 0;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 9px rgba(30, 59, 91, 0.08);
          box-shadow: 0 4px 9px rgba(30, 59, 91, 0.08);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  margin-left: -15px;
  margin-right: -15px;
  margin: 0 15px 30px;
}

.posts .post-thumbnail {
  display: block;
  -webkit-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
  background-color: rgba(220, 235, 245, 0.2);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.posts .post-thumbnail:before {
  content: "";
  display: block;
  padding-top: 56%;
}

.posts:hover {
  -webkit-transform: translate(0px, -3px);
      -ms-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
  -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
          box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}

.posts:hover .cover,
.posts:hover .author-box,
.posts:hover .post-share {
  opacity: 1;
}

.post-thumbnail {
  position: relative;
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.post-thumbnail .author-box {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 30px;
  bottom: 20px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.post-thumbnail .author-box .author-info {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: #ffffff;
  letter-spacing: 0.8px;
  font-size: 12px;
  font-weight: 700;
}

.post-thumbnail .author-image-cover {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

.post-thumbnail .author-image-small {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-thumbnail .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 197, 217, 0.1)), color-stop(40%, transparent), color-stop(60%, transparent), to(rgba(0, 197, 217, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  background: -o-linear-gradient(top, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  background: linear-gradient(180deg, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  opacity: 0;
}

.post-body {
  padding: 40px 30px;
}

.post-body h2 {
  margin: 0 0 15px;
  font-size: 27px;
  font-weight: 400;
}

.post-body h2 a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-body h2 a:hover {
  color: #000000;
}

.post-body p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #787878;
}

.post-body .more {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-body .more:hover {
  color: #000000;
  -webkit-box-shadow: inset 0 -8px 0 rgba(0, 197, 217, 0.6);
          box-shadow: inset 0 -8px 0 rgba(0, 197, 217, 0.6);
}

.post-share {
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
}

.post-share .share-icon {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.post-share .share-icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.post-share .share-twitter:hover {
  color: #55acee;
}

.post-share .share-facebook:hover {
  color: #3b5999;
}

.post-share .share-pinterest:hover {
  color: #bd081c;
}

/* 6. ========== Post Page Styles ========== */

.content-box {
  width: 740px;
  max-width: 100%;
  margin: 80px auto;
}

.post {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}

.post .post-content {
  margin-bottom: 40px;
}

.post-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 700px;
  background-color: rgba(220, 235, 245, 0.2) !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.post-header::before {
  content: "";
  display: block;
  padding-top: 35%;
}

.post-header-info {
  max-width: 960px;
  padding: 0 15px;
  text-align: center;
}

.post-header-info .post-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

.post-header-info .post-meta {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

.post-footer .post-footer-list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

.post-footer .post-footer-list li {
  display: inline-block;
  font-size: 14px;
  font-weight: 300px;
  margin-right: 32px;
}

.post-footer .post-footer-list li:last-child {
  margin-right: 0;
}

.post-footer .post-footer-list li a {
  color: #5b5b5b;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post-footer .post-footer-list li a:hover {
  color: #7b7f90;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post-footer .post-footer-list li a:hover i {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.post-footer .post-footer-list li a i {
  padding-right: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.post-footer .post-footer-list li a.post-twitter {
  color: #55acee;
}

.post-footer .post-footer-list li a.post-facebook {
  color: #3b5999;
}

.post-footer .post-footer-list li a.post-pinterest {
  color: #bd081c;
}

.post-footer .post-tag {
  padding-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #c9c9c9;
}

.post-footer .post-tag span {
  font-size: 13px;
  margin-right: 10px;
  color: #5b5b5b;
}

.post-footer .post-tag a {
  font-size: 13px;
  margin-right: 10px;
  color: #bbc3cb;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.post-footer .post-tag a:last-child {
  margin-right: 0;
}

.post-footer .post-tag a:hover {
  color: #5b5b5b;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.post-content::first-letter,
.post-content > p:first-of-type::first-letter {
  display: block;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  font-size: 55px;
  color: #0078d9;
  line-height: 0.6;
}

.post-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f5f6f7;
}

.post-author .post-author-image {
  margin-right: 20px;
}

.post-author .post-author-image img {
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.post-author .post-author-image a {
  display: block;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-author .post-author-info {
  width: 100%;
}

.post-author .post-author-info h4 {
  margin: 0 0 10px;
}

.post-author .post-author-info .post-author-bio {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin-bottom: 0;
}

.post-author .post-author-info .post-author-meta {
  margin-top: 10px;
}

.post-author .post-author-info .post-author-meta a {
  font-size: 14px;
  margin-right: 5px;
  color: #bbc3cb;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.post-author .post-author-info .post-author-meta a:hover {
  color: #323232;
  opacity: 0.7;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.page-navigation {
  margin-bottom: 40px;
}

.page-navigation .prev-page {
  float: left;
  text-align: left;
}

.page-navigation .next-page {
  float: right;
  text-align: right;
}

.page-navigation .prev-page,
.page-navigation .next-page {
  font-size: 18px;
  white-space: nowrap;
  color: #222222;
}

.page-navigation .prev-page:hover span,
.page-navigation .next-page:hover span {
  color: #000000;
}

.page-navigation .prev-page i,
.page-navigation .next-page i {
  vertical-align: middle;
  font-size: 21px;
}

.page-navigation .prev-page span,
.page-navigation .next-page span {
  display: inline-block;
  max-width: 300px;
  padding: 0 15px;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.prev-page:hover span {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.next-page:hover span {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.comments-area {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #c9c9c9;
}

.comments-area .comments-title {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  background-color: #f5f6f7;
}

/* 7. ========== Scroll Top Styles ========== */

.top {
  position: fixed;
  bottom: 20px;
  color: #666;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  right: -100px;
  z-index: 10;
  opacity: .5;
}

.top i {
  line-height: 0;
}

.top.top-active {
  right: 20px;
}

.top:hover {
  color: #0078d9;
  opacity: 1;
}

/* 8. ========== Pagination Styles ========== */

.pagination-box {
  margin-bottom: 110px;
  padding: 0 15px;
  text-align: center;
}

.pagination-box .load-more {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

/* 9. ========== Footer Styles ========== */

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px 0;
  background-color: transparent;
}

.footer-nav a {
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.footer-nav a:last-child {
  margin-right: 0;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.site-footer {
  position: relative;
  background-color: #000000;
}

.site-footer .footer-wrapper {
  position: relative;
  z-index: 1;
  padding: 100px 15px;
}

.site-footer .footer-heading {
  margin: 0 0 30px;
  font-size: 37px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}

.social-footer {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.social-footer li {
  margin-right: 20px;
  display: inline;
}

.social-footer li:last-child {
  margin-right: 0;
}

.social-footer li a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social-footer li a:hover {
  color: #0078d9;
}

.copyright {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
}

.copyright p {
  color: #ffffff;
  margin: 0;
}

.copyright p a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.copyright p a:hover {
  color: #999eb5;
}

/* 10. ========== Page Styles ========== */

.page-hero {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-hero::after {
  content: "";
  display: block;
  padding-top: 30%;
}

.page {
  width: 740px;
  max-width: 100%;
  margin: 80px auto;
  background-color: #ffffff;
}

.page .page-content {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 700px;
  background-color: rgba(220, 235, 245, 0.2) !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.page-header::before {
  content: "";
  display: block;
  padding-top: 35%;
}

.page-header .page-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

/* 11. ========== Page Tags Styles ========== */

.blog-tags .tags {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.blog-tags .tags li {
  float: left;
  margin: 0 10px 10px 0;
}

.blog-tags .tags li a {
  display: inline-block;
  padding: 5px 7px;
  font-size: 14px;
  color: #ffffff;
  background-color: #bbc3cb;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.blog-tags .tags li a:hover {
  background-color: #a3acb5;
}

.blog-tags h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 32px 0;
}

.tag-list {
  margin-bottom: 5px;
}

.tag-list span a {
  font-size: 16px;
  color: #bbc3cb;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.tag-list span:hover a {
  color: #7c858e;
  text-decoration: underline;
}

/* 12. ========== Page Contact Styles ========== */

.contact-subtitle {
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: center;
  color: #5b5b5b;
}

.form {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}

.form .form-group {
  margin-bottom: 20px;
}

.form .form-group:last-child {
  margin: 40px 0 0;
}

.form .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #5b5b5b;
}

.form .form-group .form-input {
  height: 40px;
}

.form .form-group .form-input,
.form .form-group .form-textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 2px solid #f2f4fa;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  resize: none;
  color: #5b5b5b;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.form .form-group .form-input:focus,
.form .form-group .form-textarea:focus {
  border: 2px solid rgba(0, 120, 217, 0.3);
}

.form .form-group .form-btn {
  font-weight: 700;
  background-color: #0078d9;
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.form .form-group .form-btn:hover {
  background-color: #004e8d;
}

@media screen and (max-width: 1100px) {
  .page-navigation .prev-page,
  .page-navigation .next-page {
    margin-bottom: 10px;
    display: block;
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .wrapper-content {
    position: static;
  }

  .site-logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
  }

  .navigation-wrap {
    width: 250px;
    height: 100vh;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    left: auto;
    background-color: rgba(0, 120, 217, 0.8);
    overflow-y: auto;
    z-index: 10;
    -webkit-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
    -o-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
    transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
  }

  .navigation-wrap.open {
    right: 0;
  }

  .site-nav {
    float: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 0;
    left: 0;
    margin-bottom: 40px;
  }

  .site-nav a {
    display: block;
    text-align: center;
    line-height: 0.9;
    font-size: 12px;
    padding: 25px 30px;
    margin: 0;
    border-bottom: 1px solid rgba(31, 42, 51, 0.1);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .site-nav a:hover {
    background-color: rgba(0, 92, 166, 0.8);
    color: #ffffff;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle-close {
    display: none;
  }

  .posts {
    width: -webkit-calc(100% / 12 * 6 - 30px);
    width: calc(100% / 12 * 6 - 30px);
  }
}

@media only screen and (max-width: 992px) {
  .info-box {
    padding: 40px 0;
  }

  .info-social,
  .info-newsletter {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .hero {
    min-height: 420px;
  }

  .hero-content .hero-title {
    font-size: 40px;
  }

  .hero-content .hero-description {
    font-size: 21px;
  }

  .info-social-list li a,
  .info-social-list li span {
    font-size: 18px;
  }

  .c-newsletter-email {
    height: 50px;
  }

  .newsletter-button {
    height: 50px;
    padding: 15px 0;
  }

  .posts {
    width: -webkit-calc(100% / 12 * 12 - 30px);
    width: calc(100% / 12 * 12 - 30px);
  }

  .post-header {
    min-height: 420px;
  }

  .post-header-info .post-title {
    font-size: 40px;
  }

  .post-header-info .post-meta {
    font-size: 16px;
  }

  .post-author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .post-author .post-author-image {
    margin: 0 0 10px;
  }

  .post-author .post-author-info {
    text-align: center;
  }

  .content-box {
    margin: 50px auto;
  }

  .page {
    margin: 50px auto;
  }

  .page-header {
    min-height: 420px;
  }

  .page-header .page-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .post-footer .post-footer-list li {
    display: block;
    margin-bottom: 10px;
  }

  .post-footer .post-footer-list li:last-child {
    margin-bottom: 0;
  }

  .post-header {
    min-height: 420px;
  }

  .page-navigation .prev-page span,
  .page-navigation .next-page span {
    max-width: 270px;
  }

  .site-footer .footer-wrapper {
    padding: 80px 15px;
  }

  .site-footer .footer-heading {
    font-size: 30px;
  }

  .before-footer a {
    font-size: 10px;
    margin-right: 10px;
  }

  .page-header {
    min-height: 420px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    margin: 50px auto 20px;
  }

  .post-thumbnail .author-box {
    left: 20px;
  }

  .post-body {
    padding: 20px 15px;
  }

  .post-body h2 {
    font-size: 24px;
  }

  .post-body p {
    margin-bottom: 15px;
  }

  .pagination-box {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .newsletter-button {
    font-size: 13px;
  }
}