---
# You don't need to edit this file, it's empty on purpose.
# Edit theme's home layout instead if you wanna make some changes
# See: https://jekyllrb.com/docs/themes/#overriding-theme-defaults
layout: default
---
{% include hero.html %}

{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}

<div class="content-wrap">
  <div class="wrapper" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}
   {% assign author = site.authors[post.author] %}
    <article class="posts">
      {% if post.img %}
        <a class="post-thumbnail hidden" style="background-image: url({{"/images/cards/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}">
          {% if author %}
          <!--<div class="author-box">
            <div class="author-image-cover">
              <div class="author-image-small" style="background-image: url({{"/images/" | prepend: site.baseurl | append: author.author-image}})"></div>
            </div>
            <div class="author-info">
              <span class="meta">Date: <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span><br>
              <span>Author: {{ author.author-name }}</span>
            </div>
          </div>-->
          {% else %}
          <!--<div class="author-box">
            <div class="author-image-cover">
              <div class="author-image-small" style="background-image: url({{"/images/" | prepend: site.baseurl | append: site.author-image}})"></div>
            </div>
            <div class="author-info">
              <span class="meta">Date: <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span><br>
              <span>Author: {{ site.author-name }}</span>
            </div>
          </div>-->
          {% endif %}
          <div class="cover"></div>
        </a>
      {% endif %}
      <!--<div class="post-body {{ body-full }}">
        <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncatewords: 20 }}{% endif %}</p>
        <a href="{{site.baseurl}}{{ post.url }}" title="read more" class="more">Read more</a>
      </div>-->
    </article> <!-- /.posts -->
  {% endfor %}
  </div> <!-- /.wrapper -->
</div> <!-- /.content-wrap -->

{% include pagination.html %}