<footer class="site-footer">

  <div class="footer-wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="copyright">
      <p><a href="https://capgemini.com/">Capgemini S.A.</a></p>
    </div>
  </div>

</footer> <!-- /.site-footer -->
