---
layout: default
---

<div class="post-header" style="background: url({{"/images/pages/" | prepend: site.baseurl | append : page.img}})">
  <div class="post-header-info">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %} {{ page.date | date: date_format }}
      </time>
    </div>
  </div>
</div>

<div class="content-box">
  <article class="post">

    <div class="post-content">
      {{ content }}
    </div>

    <footer class="post-footer">
      <!--<ul class="post-footer-list">
        <li class="post-footer-item">
          <a class="post-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
        </li>

        <li class="post-footer-item">
          <a class="post-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
        </li>

        <li class="post-footer-item">
          <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}/images/pages/{{ page.img }}&amp;description={{ page.title | uri_escape }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" class="post-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest" aria-hidden="true"></i><span>Pinterest</span></a>
        </li>
      </ul>-->
      {% if page.tags.size >= 1 %}
      <div class="post-tag">
        <span>Tags:</span>
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% else %}
      {% endif %}
    </footer>
</div> <!-- /.content-box -->